.Timeline {
    /* background-color: #090A0F; */
    /* background: radial-gradient(ellipse at top, #1B2735 -100%, #090A0F 100%); */
    /* background-color: #090A0F; */
    height: 110vh;
    position: relative;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Timeline .Timeline-content{
    background-color: #ffffff0a; /* สีดำแบบ Dark Mode */
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Timeline-content-detail{
    /* maxWidth: "800px", maxHeight: '80vh', overflowY: "auto", */
    max-height: 90vh;
    max-width: 800px;
    overflow-y: auto;
}

.Timeline-content-detail::-webkit-scrollbar  {
    width: 5px;
  }
   
  /* Handle */
  .Timeline-content-detail::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .Timeline-content-detail::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }