.Timeline {
    /* background-color: #090A0F; */
    /* background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%); */
    background-color: #090A0F;
    height: 100vh;
    position: relative;
    color: white;
    padding-top: 25%;
    padding-bottom: 25%;
}

.Timeline .Timeline-content{
    background-color: #0f0d1a; /* สีดำแบบ Dark Mode */
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Timeline-content-detail{
    /* maxWidth: "800px", maxHeight: '80vh', overflowY: "auto", */
    max-height: 90vh;
    max-width: 800px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}